<odoo>
    <!--=======  Root Menu  ======-->
    <menuitem name="Visa" id="menu_visa_root" sequence="0"/>

    <!--======= Submenu Parent Root ======-->
    <menuitem
            name="Pages"
            id="menu_pages"
            parent="menu_visa_root"
            sequence="0"/>

    <!--======= Submenu Parent Menu Root ======-->
    <menuitem
            name="Visa"
            id="menu_visa"
            parent="menu_visa_root"
            sequence="0"/>

    <!--======= Submenu Parent Menu Pages ======-->
    <menuitem
            name="Home"
            id="menu_home"
            parent="menu_pages"
            action="tourgull_visa_home_action"
            sequence="0"/>

    <!--======= Submenu Parent Menu Pages ======-->
    <menuitem
            name="Country Blog"
            id="menu_county_blog"
            parent="menu_pages"
            action="tourgull_visa_county_blog_action"
            sequence="0"/>

    <!--======= Submenu Parent Menu Pages ======-->
    <menuitem
            name="Visa Info"
            id="menu_visa_info"
            parent="menu_pages"
            action="tourgull_visa_info_action"
            sequence="0"/>

    <!--======= Submenu Parent Menu Pages ======-->
    <menuitem
            name="All Country"
            id="menu_all_country"
            parent="menu_pages"
            action="tourgull_visa_county_action"
            sequence="0"/>

    <!--======= Submenu Parent Menu Visa ======-->
    <menuitem
            name="Country"
            id="menu_country"
            parent="menu_visa"
            action="tourgull_county_action"
            sequence="0"/>

    <!--======= Submenu Parent Menu Visa ======-->
    <menuitem
            name="Category"
            id="menu_category"
            parent="menu_visa"
            action="tourgull_category_action"
            sequence="0"/>

    <!--======= Submenu Parent Menu Visa ======-->
    <menuitem
            name="Offer Slider"
            id="menu_offer_slider"
            parent="menu_visa"
            action="tourgull_offer_slider_action"
            sequence="0"/>

    <!--======= Submenu Parent Menu Visa ======-->
    <menuitem
            name="Suggest Service Slider"
            id="menu_suggest_slider"
            parent="menu_visa"
            action="tourgull_suggest_slider_action"
            sequence="0"/>
</odoo>
