<odoo>
    <!--=======  Root Menu  ======-->
    <menuitem name="Visa" id="menu_visa_root" sequence="21"/>

    <!--======= Submenu Parent Root ======-->
    <menuitem
            name="Pages"
            id="menu_pages"
            parent="menu_visa_root"
            sequence="10"/>

     <!--======= Submenu Parent Pages ======-->
    <menuitem
            name="Home"
            id="menu_home"
            parent="menu_pages"
            action="tourgull_visa_home_action"
            sequence="0"/>

    <!--======= Submenu Parent Pages ======-->
    <menuitem
            name="Country Blog"
            id="menu_county_blog"
            parent="menu_pages"
            action="tourgull_visa_county_blog_action"
            sequence="0"/>

    <!--======= Submenu Parent Pages ======-->
    <menuitem
            name="Visa Info"
            id="menu_visa_info"
            parent="menu_pages"
            action="tourgull_visa_info_action"
            sequence="0"/>
</odoo>
